@import '../../styles/mixins';

.filterDropdown {
  position: relative;
}

.filterButton {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  font-size: 16px;
  align-items: center;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #555;
  }
  
  @include mobile {
     font-size: 18px;
  }
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdownList li {
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #555;
  }
}

.active {
  background-color: #fdb931;
}
