@import '../../styles/mixins';

.sortButton {
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 190px;
  justify-content: space-between;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #555;
  }

  @include mobile {
    font-size: 18px;
    width: 210px;
  }
}
