@import '../../styles/mixins';

.controlsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.priceList {
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(30, 30, 30, 0.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

  @include tablet {
    padding: 15px;
  }
  @include desktop {
    max-height: 600px;
    overflow-y: auto;
    padding: 30px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #f1c40f;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #e0b10d;
    }
  }
}

.priceListItem:not(:last-child) {
  margin-bottom: 20px;
}
