.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.noResults {
  font-size: 1.5rem;
  color: #ff0000;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff5f5;
}
