@import '../../styles/_mixins.scss';

.priceList {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(30, 30, 30, 0.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

  @include tablet {
    padding: 15px;
  }
  @include desktop {
    padding: 30px;
  }
}
