@import '../../styles/mixins';

.priceItemWrapper {
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  background-color: rgba(40, 40, 40, 0.8);
  font-size: 18px;
  cursor: pointer;
  text-align: center;

  &:hover {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  }
  @include mobile {
    text-align: start;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    padding: 20px;
  }
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  @include mobile {
    flex-direction: row;
  }
}

.category {
  font-weight: bold;
  color: #b3b3b3;

  @include mobile {
    margin-right: 10px;
  }
}

.name {
  flex-grow: 1;
  color: #ffffff;
}

.price {
  color: #ffcc00;
  white-space: nowrap;
}

.description {
  margin-top: 10px;
  color: #d1d1d1;
  font-size: 16px;
}
