.buttonWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.fileWrapper {
  display: flex;
  align-items: center;
}

.linkFile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.editing {
  box-shadow: 1px 10px 5px -3px rgba(0, 0, 0, 0.75);
}
